body{
    margin-top: 100px;
    line-height: 1.6
}
.container{
    width: 800px;
    margin: 0 auto;
}



ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.active{
    background: #ededed;
    color: #222;
}

.tab-active{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-contenu.active{
    display: inherit;
}